*{
    padding: 0;
    /* margin: 0; */
    
}
body{
    background-color: #E7F6F2;
}
.info{
    padding: 0px;
    margin: 0px;
    /* line-height: 0px; */
}
h3{
    color: #749F82;
}
h5{
    color: #293462;
}
.link{
    text-decoration: none;
}
.contact{
    text-align: center;
    color: #749F82;
}
hr{
    border-style: none;
    border-top-style: dotted;
    height: 0px;
    width: 5%;
    border-color: grey;
    border-width: 5px;
}
.touch{
    margin: auto;
    width: 50%;
    border-style: groove;
    border-width: 5px;
    border-color: aquamarine            ;
    padding: 10px;
}
.gettouch{
    text-align: center;
}
